[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
dask-jobqueue = "*"
nodejs = "*"
selenium = "*"
pylint = "*"
ipympl = "*"
ipykernel = "*"
ipywidgets = "*"
dask-labextension = "*"
h5netcdf = "*"
panel = "*"
bokeh = "*"
xarray = "*"
hvplot = "*"
dask = "*"
colorcet = "*"
plotly = "*"
jupyter-bokeh = "*"
netcdf4 = "*"
numba = "*"
scipy = "*"
nidaqmx = "*"
pyvisa = "*"
thorlabs-apt = "*"
pyvisa-py = "*"
instrumental-lib = "*"
kaleido = "*"
typing-extensions = "*"
zarr = "*"

[dev-packages]
bpytop = "*" #monitoring program of my choice
pip-licenses = "*" #check licenses of libraries
labview-automation = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
