[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
dask-jobqueue = "*"
nodejs = "*"
selenium = "*"
ipympl = "*"
ipykernel = "*"
ipywidgets = "*"
dask-labextension = "*"
h5netcdf = "*"
panel = "*"
bokeh = "*"
xarray = "*"
hvplot = "*"
dask = "*"
colorcet = "*"
plotly = "*"
jupyter-bokeh = "*"
netcdf4 = "*"
numba = "*"
scipy = "*"
nidaqmx = "*"
pyvisa = "*"
pyvisa-py = "*"
kaleido = "*"
typing-extensions = "*"
zarr = ">=2.3"
#thorpy = { git = 'https://github.com/UniNE-CHYN/thorpy', editable = true }
k10cr1 = { git = 'https://github.com/QuantumQuadrate/k10cr1', editable = true }
streamz = "*"
pint-xarray = "*"

[dev-packages]
bpytop = "*" #monitoring program of my choice
pip-licenses = "*" #check licenses of libraries
labview-automation = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
