jupyter
pandas
numpy
matplotlib
dask-jobqueue
nodejs
selenium
pylint
ipympl
ipykernel
ipywidgets
dask-labextension
mpi4py
h5netcdf
panel
bokeh
xarray
hvplot
bokeh
dask
colorcet
bottleneck
plotly
jupyter_bokeh
renishawWiRE
numba
NetCDF4
